<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Подключение к PostgreSQL в Docker -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">1234</property>

        <!-- Диалект -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Создавать таблицы, если нет — обновлять -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Лог SQL-запросов -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Потоковая сессия -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Маппинги классов -->
        <mapping class="org.example.model.forDataBase.User"/>

    </session-factory>
</hibernate-configuration>
